# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pth
*.pt
*.ckpt

# Datasets
data/
dataset/
datasets/

# Training outputs
runs/
results/
logs/
checkpoints/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp